.test {
    margin: 50px;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 5px;
}

.nevotip.nevotip--block {
    display: block;
}

.nevotip.nevotip--block:after,
.nevotip.nevotip--block:before
{
    right: initial;
}

.nevotip.nevotip--block:before
{
    left: 18px;
}

.nevotip {
    position: relative;
    background: #eee;
}

.nevotip[data-nt-lang="es"]:after{
    content: "Nuevo!";
}

.nevotip:after {
    background: #EA6F14;
    content:"New!";
    font-family: Arial;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    font-size: 12px;
    font-weight: bolder;
    line-height: 18px;
    padding: 2px 5px 3px;
    position: absolute;
    left: 0;
    right: 0;
    top: -25px;
    bottom: 0;
    width: 40px;
    margin: 0 auto;
    text-align: center;
    height: 15px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    opacity: 0.95;
    white-space: nowrap;
}

.nevotip:before {
    content:"";
    border: 6px solid transparent;
    border-color: #EA6F14 transparent transparent transparent;
    position: absolute;
    margin: 0 auto;
    width: 0;
    top: -6px;
    left: 0;
    right: 0;
    bottom: 0;
}

.nevotip.nevotip--down:before {
    content:"";
    border: 6px solid transparent;
    border-color: transparent transparent #EA6F14 transparent;
    position: absolute;
    margin: 0 auto;
    width: 0;
    top: auto;
    left: 0;
    right: 0;
    bottom: 100%;
}

.nevotip.nevotip--external:before {
    left: 18px;
}